body{
    background: #BDBDBD;

} 
.first_heading { 
    background-color: white; 
    padding: 50px; 
} 
.imagen1 {
    background-image: url(../img/1.jpg);
    height:350px; 
    background-size: cover; 
    border-radius: 100%;
} 
.title {
    text-decoration-color: gray;
    
}

}

.contactpage{
    background-color: white;
    padding: 30px;
   
}
.contactbox{
    font-weight: bold;
    padding: 20px;
    margin:auto;
    width: 600px;
    height: 300px;
    background: rgb(241, 240, 240);
    border: 1px solid rgb(172, 170, 170);
    border-radius: 5px;
    }

    

