


<div class="contactpage">
        <div>
            <h1>Contact</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>

        <div class="contactbox">
            <form>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Your E-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputtext" class="form-label">Your Message</label>
                    <textarea class="form-control" aria-label="With textarea" placeholder="Please enter your message here..."></textarea>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="button">Submit</button>
                </div>
            </form>
        </div>

</div>
