<!-- your html code here -->
<h2><b>Contact</b></h2>
<p>donec ullamcorper ulla non metus auctor fringilla. Vestibulum id igula porta felis euismod semper. Praesent commodo
    cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

<div class="container d-flex">
    <div class="row">
        <div class="card col-3 me-1">
            <img src="https://picsum.photos/seed/picsum/700/400" class="card-img-top">
            <div class="card-body">
                <h5>
                    <b style="color: blue">Project Name</b>
                </h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam non praesentium
                    ullam similique facere! Autem quis accusantium, quia fugit tempore omnis sed iure blanditiis, sequi
                    facilis labore possimus dolorum est.</p>
            </div>
        </div>
        <div class="card col-3 me-1">
            <img src="https://picsum.photos/seed/picsum/700/400" class="card-img-top">
            <div class="card-body">
                <h5>
                    <b style="color: blue">Project Name</b>
                </h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam non praesentium
                    ullam similique facere! Autem quis accusantium, quia fugit tempore omnis sed iure blanditiis, sequi
                    facilis labore possimus dolorum est.</p>

            </div>
        </div>
        <div class="card col-3 me-1">
            <img src="https://picsum.photos/seed/picsum/700/400" class="card-img-top">
            <div class="card-body">
                <h5>
                    <b style="color: blue">Project Name</b>
                </h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam non praesentium
                    ullam similique facere! Autem quis accusantium, quia fugit tempore omnis sed iure blanditiis, sequi
                    facilis labore possimus dolorum est.</p>

            </div>
        </div>
    </div>
</div>