<!-- your html code here -->
<div style="background: #ffffff;" class="p-3">

    <div class="row container d-flex m-3">
        <h2><b>Portafolio</b></h2>
        <p>donec ullamcorper ulla non metus auctor fringilla. Vestibulum id igula porta felis euismod semper. Praesent
            commodo
            cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

        <div class="row justify-center">

            <div class=" col-4">
                <img src="https://picsum.photos/seed/picsum/700/400" class="card-img-top ">
                <h5>
                    <b style="color: blue" >Project Name</b>
                </h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam non
                    praesentium
                    ullam similique facere! Autem quis accusantium, quia fugit tempore omnis sed iure blanditiis,
                    sequi
                    facilis labore possimus dolorum est.</p>
            </div>

            <div class="col-4">

                <img src="https://picsum.photos/seed/picsum/700/400" class="card-img-top ">
                <h5>
                    <b style="color: blue" >Project Name</b>
                </h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam non
                    praesentium
                    ullam similique facere! Autem quis accusantium, quia fugit tempore omnis sed iure blanditiis,
                    sequi
                    facilis labore possimus dolorum est.</p>
            </div>

            <div class="col-4">
                <img src="https://picsum.photos/seed/picsum/700/400" class="card-img-top ">
                <h5>
                    <b style="color: blue" >Project Name</b>
                </h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam non
                    praesentium
                    ullam similique facere! Autem quis accusantium, quia fugit tempore omnis sed iure blanditiis,
                    sequi
                    facilis labore possimus dolorum est.</p>
            </div>
        </div>
    </div>
</div>
</div>